* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    /* padding: 5px 100px; */
    background: rgb(36, 30, 30);
    color: wheat;
}

nav .ul .logo {
    font-size: 2rem;
    font-weight: bolder;
}

nav ul {
    display: flex;
    margin: 0px 200px;
}

nav ul li {
    margin: 10px 0px;
}

nav ul li a {
    color: wheat;
    padding: 5px;
    margin: 0px 0px;
    font-weight: bold;
}

nav ul li a:hover {
    border: 2px solid wheat;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav ul li a:active {
    background: wheat;
    color: black;
}

nav ul .navSec {
    margin: 20px;
}

nav ul .left {
    margin-right: auto;
    max-width: 40%;
    margin-left: 20px;
}

nav ul .right {
    margin-left: auto;
    display: flex;
    max-width: 60%;
    margin-right: 20px;
}


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */


/* .main...............................................................main */

main {}

main .mainScreen {
    height: 90vh;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .mainScreen .mainDiv {
    min-width: 400px;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #181818;
    color: wheat;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 124px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main .mainScreen .mainDiv .changeColor {
    padding: 10px;
    background: rgb(5, 110, 248);
    border: 0px;
    color: white;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}